.header-container {

    display: flex;
    justify-content: center;
    width: 100vw;
    height: 50px;
    margin-bottom: 40px;
    background-color: #343b44;
}

.sub-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.icon-container {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.img-icon {
    width: 32px;
    height: 32px;
}

.header-title {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
    color: #0be65a;
}